In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('diabetes.csv')
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [9]:
df.shape

(768, 9)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [12]:
zeros_not_accepted = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']

for column in zeros_not_accepted:
  df[column] = df[column].replace(0,np.NaN)
  mean = int(df[column].mean(skipna=True))
  df[column] = df[column].replace(np.NaN,mean)

In [13]:
X = df.iloc[:,0:8]
y = df.iloc[:,8]

X_train , X_test , y_train , y_test = train_test_split(X,y,random_state = 0,test_size=0.2)

In [14]:
print(X_train.shape)
print(y_train.shape)

(614, 8)
(614,)

In [15]:
print(X_test.shape)
print(y_test.shape)

(154, 8)
(154,)

In [16]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
X_train = sc_x.fit_transform(X_train)
X_test = sc_x.fit_transform(X_test)

In [17]:
# p = number of classes in the dataset
classifier = KNeighborsClassifier(n_neighbors=11,p=2,metric='euclidean')

In [18]:
classifier.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=11, p=2,
                     weights='uniform')

In [21]:
y_pred = classifier.predict(X_test)
print(y_pred.shape)

(154,)

In [23]:
#creating the confusion matrix
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[95 12]
 [18 29]]

In [24]:
print(accuracy_score(y_test,y_pred))

0.8051948051948052