In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width  plant
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [ ]:
df.shape

(150, 5)

In [ ]:
X = df.iloc[:,0:4].values
y = df.iloc[:,4:].values

In [ ]:
print(X.shape)
print(y.shape)

(150, 4)
(150, 1)

In [ ]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
plant           0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.4,random_state = 0)

In [ ]:
print(X_train.shape)
print(y_train.shape)

(90, 4)
(90, 1)

# Kernel = **Linear**

In [ ]:
#Kernel = Linear
from sklearn.svm import SVC
classifier_linear = SVC(kernel='linear')
classifier_linear.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred = classifier_linear.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print("Accuracy in Linear Kernel:",accuracy_score(y_test, y_pred))

Accuracy in Linear Kernel: 0.9666666666666667

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       0.96      0.96      0.96        23
           2       0.95      0.95      0.95        21

    accuracy                           0.97        60
   macro avg       0.97      0.97      0.97        60
weighted avg       0.97      0.97      0.97        60

# kernel = **RBF**

In [ ]:
#kernel = RBF
classifier_rbf = SVC(kernel='rbf')
classifier_rbf.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred = classifier_rbf.predict(X_test)

In [ ]:
print("Accuracy in RBF Kernel:",accuracy_score(y_test, y_pred))

Accuracy in RBF Kernel: 0.9333333333333333

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       0.88      0.96      0.92        23
           2       0.95      0.86      0.90        21

    accuracy                           0.93        60
   macro avg       0.94      0.94      0.94        60
weighted avg       0.94      0.93      0.93        60

# kernel = **poly**

In [ ]:
#kernel = poly
classifier_poly = SVC(kernel='poly')
classifier_poly.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred = classifier_poly.predict(X_test)

In [ ]:
print("Accuracy in Poly Kernel:",accuracy_score(y_test, y_pred))

Accuracy in Poly Kernel: 0.9

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        16
           1       0.81      0.96      0.88        23
           2       0.94      0.76      0.84        21

    accuracy                           0.90        60
   macro avg       0.92      0.91      0.91        60
weighted avg       0.91      0.90      0.90        60

In [ ]:
data = {
    'sepal_length':[1.1,4.1],
    'sepal_width':[1.2,3.1],
    'petal_length':[1.3,2.1],
    'petal_width':[1.4,1.1]}

test_df = pd.DataFrame(data)

test_df

   sepal_length  sepal_width  petal_length  petal_width
0           1.1          1.2           1.3          1.4
1           4.1          3.1           2.1          1.1

In [ ]:
test_X = test_df.iloc[:,0:].values
test_X

array([[1.1, 1.2, 1.3, 1.4],
       [4.1, 3.1, 2.1, 1.1]])

In [ ]:
y_test_pred = classifier_linear.predict(test_X)
print(y_test_pred)

[0 0]

In [ ]:
#concat
predict_result = {'My_Predictions':y_test_pred}
temp_df = pd.DataFrame(predict_result)

Result_df = pd.concat([test_df,temp_df],axis=1)

In [ ]:
Result_df

   sepal_length  sepal_width  petal_length  petal_width  My_Predictions
0           1.1          1.2           1.3          1.4               0
1           4.1          3.1           2.1          1.1               0