In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df.shape

(400, 5)

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
df["Gender"] = labelencoder_X.fit_transform(df["Gender"])
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [ ]:
X = df.iloc[:,1:4].values
y = df.iloc[:,4:].values

In [ ]:
print(X.shape)
print(y.shape)

(400, 3)
(400, 1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =0.2,random_state=0)

In [ ]:
print(X_train.shape)
print(y_train.shape)

(320, 3)
(320, 1)

# kernel = **'poly'**

In [ ]:
from sklearn.svm import SVC
classifier_poly = SVC(kernel = 'poly')
classifier_poly.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred = classifier_poly.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print(f"Accuracy in Poly Kernel : {accuracy_score(y_test,y_pred)} ")

Accuracy in Poly Kernel : 0.8125

In [ ]:
#In Case of Poly Kernel
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.81      0.97      0.88        58
           1       0.82      0.41      0.55        22

    accuracy                           0.81        80
   macro avg       0.81      0.69      0.71        80
weighted avg       0.81      0.81      0.79        80

# kernel = **'rbf'**

In [ ]:
classifier_rbf = SVC(kernel = 'rbf')
classifier_rbf.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred = classifier_rbf.predict(X_test)

In [ ]:
print(f"Accuracy in RBF Kernel : {accuracy_score(y_test,y_pred)} ")

Accuracy in RBF Kernel : 0.825

In [ ]:
#In Case of RBF Kernel
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.82      0.97      0.89        58
           1       0.83      0.45      0.59        22

    accuracy                           0.82        80
   macro avg       0.83      0.71      0.74        80
weighted avg       0.83      0.82      0.81        80

In [ ]:
data = {'User ID':[12345679,12345678],'Gender':['Male','Female'],'Age':[78,82],'Estimated_Salary':[20,1900000]}
test_df = pd.DataFrame(data)
test_df

    User ID  Gender  Age  Estimated_Salary
0  12345679    Male   78                20
1  12345678  Female   82           1900000

In [ ]:
test_df["Gender"] = labelencoder_X.fit_transform(test_df["Gender"])
test_df

    User ID  Gender  Age  Estimated_Salary
0  12345679       1   78                20
1  12345678       0   82           1900000

In [ ]:
test_X = test_df.iloc[:,1:].values
test_X

array([[      1,      78,      20],
       [      0,      82, 1900000]])

In [ ]:
y_test_pred = classifier_rbf.predict(test_X)
y_test_pred

array([0, 0])

In [ ]:
predict_result = {'My_Predictions':y_test_pred}
temp_df = pd.DataFrame(predict_result)

Result_df = pd.concat([test_df,temp_df],axis=1)

In [ ]:
Result_df

    User ID  Gender  Age  Estimated_Salary  My_Predictions
0  12345679       1   78                20               0
1  12345678       0   82           1900000               0